fastapi==0.108.0
uvicorn==0.25.0
torch>=2.0.0
python-multipart==0.0.6
huggingface-hub>=0.20.2
diffusers==0.26.3
# transformers and tokenizers are installed separately
# transformers==4.38.2
# tokenizers==0.13.3
# Required for optimizations
accelerate>=0.25.0
pydantic>=2.0.0
Pillow>=10.0.0
